# Dependencies
node_modules/
backend/vendor/
frontend/node_modules/

# Environment files
*.env.local
*.env.*.local

# Builds
frontend/dist/

# Laravel Storage & Cache
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
